html{
    height: 100%;
    overflow: hidden;
}

body{
    height: 100%;
    overflow: auto;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'Arial';
    position: relative;
    margin: 0;
    scroll-behavior: smooth;
}

.section{
    min-height: 100%;
    padding: 0 1.5rem 3rem;
}

.container{
    width: 90%;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 3rem;
    position: relative;
}

.content{
    width: 40rem;
    margin: 0 auto;
    text-align: center;
}

.centre{
    width: 33.5rem;
    margin: 0 auto 5rem;
    padding: 0.75rem 0 0.25rem;
    text-align: center;
    background-color: #eaeaea;
    border: 0.05rem solid #333;
}

header{
    
}

footer{
    width: 100%;
    background-color: #333;
    color: #FFF;
    text-align: center;
    margin-top: auto;
    position: relative;
    bottom: 0;
    left: 0;
}

footer > p{
    padding: 0.75rem 0;
}

h1{
    font-family: 'BebasNeue', Arial;
    font-size: 4.5rem;
    line-height: 6rem;
    text-align: center;
    margin-bottom: 1rem;
}

h2{
    font-family: 'BebasNeue', Arial;
    font-size: 3.5rem;
    font-weight: normal;
    line-height: 4rem;
    text-align: center;
}

.pageHeader{
    margin-top: 2rem;
}

.content h2{
    font-size: 3.5rem;
    font-weight: normal;
    margin-top: 2rem;
}

h3{
    
}

h4{
    font-size: 1.9rem;
    line-height: 2rem;
    
}

h5{
    
}

h6{
    
}

p{
    font-size: 1rem;
}

a{
    text-decoration: none;
}

.nav{
    margin: 0 auto;
    text-align: center;
}

li{
}

li:hover{
    
}

li a{    
    color: #FFF;
}


li a:hover{    
    color: #FFF;
}

.header{
    width: 100%;
    padding: 2rem 0 2.5rem;
    background-color: darkturquoise;
    z-index: 5;
/*    position: fixed;*/
    top: 0;
}

.customNav{
    padding: 0;
    background-color: #333;
    z-index: 5;
}

.header2{
    padding: 2rem 0 0;
}

#heading{
    width: 33rem;
    margin: 0 auto;
    padding: 1rem 0 0;
    color: #FFF;
    background-color: #536878;
    border-radius: 0 0 0.75rem 0.75rem;
    z-index: 1;
}

#heading h2{
    display: block;
    color: #FFF;
    text-shadow: 0 13.36px 8.896px #1f272d,0 -2px 1px #e1e6ea;
    letter-spacing: 0.05rem;
}

.row{
    width: 100%;
}

.formBtn{
    width: 50%;
    margin: 0 auto;
    padding: 3rem;
    display: inline-block;
}

.top{
    width: 50%;
    font-size: 3rem;
    color: #333;
    border-radius: 2rem;
    padding: 3rem;
    text-align: right;
    float: right;
}

.top:hover{
    color: #536878;
}

form{
    margin: 0 auto;
    padding: 3rem;
    background: #FFF 0.5;
}

label{
    width: 8.5rem;
    text-align: left;
    margin-top: 0.35rem;
    margin-right: 1rem;
    float: left;
}

.other{
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 0.01rem solid #cdcdcd;
    border-top: 0.01rem solid #cdcdcd;
}

.spacer{
    padding-bottom: 0.75rem;
}

input{
    width: 15rem;
    padding: 0.5rem;
    text-align: left;
    outline: none;
    border-style: none;
    border-bottom: 0.01rem solid #3A3C54;
    background-color: transparent;
}

input:focus{
    background-color: #e1e6ea;
}

label span .req{
    font-weight: bold;
    color: red;
}

#image{
    width: 15rem;
    padding: 0.5rem;
    text-align: left;
    outline: none;
    border-style: none;
    background-color: none;
}


.btn,
.addBtn,
.editBtn,
.subBtn,
.outBtn,
.delBtn,
.resBtn,
.canBtn,
.viewBtn{
    display: inline-block;
    width: auto;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

input .btn, .btn{
    background-color: #3A3C54;
    padding: 0.5rem 1.25rem;
    margin: 0 1.25rem;
}

.btn:hover{
    background-color: #141d26;
}

.addBtn{
    padding: 0.75rem 1.5rem;
    margin: 0.75rem 0 0;
    line-height: 0;
}

.addBtn a:hover{    
    background-color: #007777;
}

.editBtn, .subBtn, .outBtn{
    padding: 0.5rem 1.25rem;
    margin: 0.75rem 0 0;
    background-color: #3273dc;
}

.editBtn:hover, .subBtn:hover, .outBtn:hover{    
    background-color: #005582;
    color: #FFF;
}

.right{
    text-align: right;
}

.delBtn, .resBtn, .canBtn{
    padding: 0.75rem 1.5rem;
    margin: 0.75rem 0 0;
    background-color: #f14668;
}

.delBtn:hover, .resBtn:hover, .canBtn:hover{
    background-color: #d11141;
    color: #FFF;
}

.canBtn{
    padding: 0.5rem 1.25rem;
    margin: 0.75rem 0 0;
    color: #333;
    background-color: #f2f2f2;
    border: 0.03rem solid #ccc;
}

.canBtn:hover{
    background-color: #e6e6e6;
    color: #333;
}

.viewBtn{
    width: 10rem;
    padding: 1rem;
    margin: 0.75rem 0 0;
    background-color: #3A3C54;
}

.viewBtn:hover{
    background-color: #536878;
}

.label{
    width: 100%;
    padding: 0.15rem 0;
}

.labelResult{
    font-weight: bold;
    display: inline-block;
}

.checkbox{
    text-align: left;
}

#createRecord{
    margin: 0 auto;
}

.addRecord label{
    width: 7rem;
}

.id{
    color: #FFF;
    font-size: 0.1rem;
}

.title{
    
}

.container .dvdRecord .image image{
    max-width: 85%;
    height: auto;
    border: 0.05rem solid #CCC;
    margin: 0 auto;
    padding-bottom: 0 auto 2rem;
}

.noImage{
    width: 100%;
    margin: 0 auto 1.5rem;
    padding: 11rem 0 13rem;
    font-size: 1rem;
    color: #999;
    text-align: center;
    border: 0.05rem solid #CCC;
}

.noResult{
    font-size: 1.1rem;
    text-align: center;
    margin-top: 3rem;
}

.noResult span{
    font-weight: bold;
}

.director{
    margin-top: 2rem;
}

.starring{
    
}

.genre{
    
}

.tv{
    
}

/*
li>label[for="season"], label[for="season"], #season{
    display: none;
}
*/

.release{
    
}

.records{
    width: 100%;
    padding-bottom: 5rem;
}

.dvdRecord{
    display: inline-block;
    background-color: #EEE;
    border-bottom: 0.1rem solid #536878;
    padding: 2rem;
    margin: 1rem;
/*    border-radius: 1rem;*/
    width: 30%;
}

.wrapper{
    width: 85%;
    padding: 5rem;
}

.help{
    font-size: 0.8rem;
    font-weight: bold;
    text-align: right;
    color: red;
    display: block;
}

.alert{
    background-color: lightseagreen;
    color: #FFF;
    width: 65%;
    margin: 2rem auto 0;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}

.submenu{
    margin: 1.5rem auto;
    padding: 1rem;
    background-color: #e1e6ea;
    height: 3.5rem;
    font-size: 1.2rem;
    text-align: center;
}

.col{
    width: 45%;
    display: inline-block;
    float: left;
}

.total{
}

.query{
    margin-top: -0.4rem;
}

.query form, .clear form{
    padding: 0;
}

.query form input{
    font-size: 1rem;
}

.query form input:focus{
    background-color: #FFF;
}

.query p{
    display: inline-block;
    font-weight: bold;
}

.goBtn{
    display: inline-block;
    width: auto;
    margin: 0 1.5rem 0 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    background-color: #3A3C54;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.clearBtn{
    display: inline-block;
    width: auto;
    margin-left: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    background-color: #3A3C54;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.goBtn:hover, .clearBtn:hover{
    background-color: #141d26;
}

.borderBottom{
    border-bottom: 0.01rem solid #cdcdcd;
}

@media screen and (max-width: 1230px){
    .dvdRecord{
        width: 45%;
    }
}

@media screen and (max-width: 830px){
    .nav{
        width: 80%;
    }
    
    .nav .btn{
        display: block;
        margin: 1rem 0;
    }

    #heading{
        width: auto;
    }
    
    #heading h2{
        font-size: 3rem;
    }
    
    .submenu{
        height: 6.5rem;
    }
    
    .centre{
        width: 100%;
    }
    
    .field label{
        width: 100%;
        text-align: center;
    }
    
    .help{
        text-align: center;
    }
    
    .dvdRecord{
        width: 100%;
        margin: 1rem auto;
    }
    
    .total{
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 0.01rem solid #333;
        float: none;
    }
    
    .dropdown{
        display: block;
        margin: 0 auto;
        float: none;
    }
    
    .content{
        width: 100%;
    }
    
    .addRecord label{
        width: 100%;
        text-align: center;
    }
    
    .addRecord label input{
        width: 100%;
    }
}